<aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
        <a href="#">
            <img src="/images/icon/logo.png" alt="<%=__('company')%>" />
        </a>
    </div>
    <div class="menu-sidebar__content js-scrollbar1">
        <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar__list">
                <li class="active has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-tachometer-alt"></i><%=__('Customers')%></a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li>
                            <a href="/admin/customer"><%=__('All')%></a>
                        </li>
<!--                        <li>-->
<!--                            <a href="index2.html">Dashboard 2</a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a href="index3.html">Dashboard 3</a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a href="index4.html">Dashboard 4</a>-->
<!--                        </li>-->
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</aside>
