<!DOCTYPE html>
<html>
  <head>
    <title>New Sails App</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%/* If you want to discourage search engines from indexing this site, uncomment the following line: */%>
    <%/* <meta name="robots" content="noindex"> */%>


    <!--
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.

        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <link rel="stylesheet" href="/dependencies/vendor/animsition/animsition.min.css">
    <link rel="stylesheet" href="/dependencies/vendor/bootstrap-4.1/bootstrap.min.css">
    <link rel="stylesheet" href="/dependencies/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css">
    <link rel="stylesheet" href="/dependencies/vendor/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="/dependencies/vendor/select2/select2.min.css">
    <link rel="stylesheet" href="/dependencies/vendor/slick/slick-theme.css">
    <link rel="stylesheet" href="/dependencies/vendor/slick/slick.css">
    <link rel="stylesheet" href="/dependencies/vendor/wow/animate.css">
    <link rel="stylesheet" href="/styles/vendor/animsition/animsition.min.css">
    <link rel="stylesheet" href="/styles/vendor/bootstrap-4.1/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css">
    <link rel="stylesheet" href="/styles/vendor/css-hamburgers/hamburgers.css">
    <link rel="stylesheet" href="/styles/vendor/css-hamburgers/hamburgers.min.css">
    <link rel="stylesheet" href="/styles/vendor/font-awesome-4.7/css/font-awesome.css">
    <link rel="stylesheet" href="/styles/vendor/font-awesome-4.7/css/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/vendor/font-awesome-5/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/styles/vendor/mdi-font/css/material-design-iconic-font.css">
    <link rel="stylesheet" href="/styles/vendor/mdi-font/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="/styles/vendor/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="/styles/vendor/select2/select2.min.css">
    <link rel="stylesheet" href="/styles/vendor/slick/slick-theme.css">
    <link rel="stylesheet" href="/styles/vendor/slick/slick.css">
    <link rel="stylesheet" href="/styles/vendor/wow/animate.css">
    <link rel="stylesheet" href="/styles/css/font-face.css">
    <link rel="stylesheet" href="/styles/css/overhang.min.css">
    <link rel="stylesheet" href="/styles/css/theme.css">
    <link rel="stylesheet" href="/styles/css/toastr.min.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
  </head>

<!--  <div class="d-block d-sm-none">xs</div>-->
<!--  <div class="d-none d-sm-block d-md-none">sm</div>-->
<!--  <div class="d-none d-md-block d-lg-none">md</div>-->
<!--  <div class="d-none d-lg-block d-xl-none">lg</div>-->
<!--  <div class="d-none d-xl-block">xl</div>-->
  <body>
      <%- body %>
  </div>



    <!--SCRIPTS-->
    <script src="/dependencies/sails.io.js"></script>
    <script src="/dependencies/jquery-3.4.1.min.js"></script>
    <script src="/dependencies/vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="/dependencies/vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <script src="/dependencies/vendor/slick/slick.min.js"></script>
    <script src="/dependencies/vendor/wow/wow.min.js"></script>
    <script src="/dependencies/vendor/animsition/animsition.min.js"></script>
    <script src="/dependencies/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <script src="/dependencies/vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="/dependencies/vendor/counter-up/jquery.counterup.min.js"></script>
    <script src="/dependencies/vendor/circle-progress/circle-progress.min.js"></script>
    <script src="/dependencies/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="/dependencies/vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="/dependencies/vendor/select2/select2.min.js"></script>
    <script src="/dependencies/main.js"></script>
    <script src="/dependencies/i18n/I.js"></script>
    <script src="/dependencies/api.js"></script>
    <script src="/dependencies/i18n/i18n.min.js"></script>
    <script src="/dependencies/ion.sound-3.0.7/ion.sound.js"></script>
    <script src="/dependencies/ion.sound-3.0.7/ion.sound.min.js"></script>
    <script src="/dependencies/ion.sound-3.0.7/Sounds.js"></script>
    <script src="/dependencies/jquery-ui.min.js"></script>
    <script src="/dependencies/OverHang.js"></script>
    <script src="/dependencies/overhang.min.js"></script>
    <script src="/dependencies/sockets.js"></script>
    <script src="/dependencies/toast.js"></script>
    <script src="/dependencies/toastr.min.js"></script>
    <script src="/dependencies/util.js"></script>
    <script src="/dependencies/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="/dependencies/webServices.js"></script>
    <script src="/js/pages/admin/customer/all.page.js"></script>
    <script src="/js/pages/admin/index.page.js"></script>
    <script src="/js/pages/admin/login.page.js"></script>
    <script src="/js/pages/admin/professional/all.page.js"></script>
    <script src="/js/pages/chat/chat.page.js"></script>
    <script src="/js/pages/customer/historic.page.js"></script>
    <script src="/js/pages/customer/register/index.page.js"></script>
    <script src="/js/pages/home.page.js"></script>
    <script src="/js/pages/partial-view/professionals-home.page.js"></script>
    <script src="/js/pages/professional/register.page.js"></script>
    <script src="/js/pages/user/login.page.js"></script>
    <!--SCRIPTS END-->
  <!--Script to connect to the socket-->
  <%if(req.user){%>
    <script>
        //Subscribe to professionals socket
        Sockets.mySocket();
    </script>
  <%}%>

  </body>
</html>
