<div id="top-up" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/customer/topUp.less</em>, <em>assets/js/pages/customer/topUp.page.js</em>, and <em>api/controllers/customer/view-top-up.js</em>.)</p>


  <button id="paymentButton" onclick="payButton()"> Pay</button>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
